node_modules
build
*.local
*.log

# Allow storing encrypted secrets only (SOPS)
*.[sS]ecret.*
**/[sS]ecret.*
!*.[eE]ncrypted.[sS]ecret.*
!**/[eE]ncrypted.[sS]ecret.*

# OS files (OSX, Windows)
.DS_Store
Thumbs.db
