.dockerignore
.DS_Store
.editorconfig
.gitattributes
.gitignore
.gitlint
.prettierignore
.vscode
.vs
**/*.http
**/*.ico
**/*.sh
**/*.txt
**/*.xml
*.png
*.svg
Dockerfile
Jenkinsfile
.doppler-ci
yarn.lock
package-lock.json
[eE]ncrypted.[sS]ecret.*
*.key
.doppler-ci
/build
*.env
*.env.*
