/* TODO: clean up and move to style guide */
.dp-library [class*="modal-content--"].modal-content--full {
  background: #f7f7f7;
  padding: 50px 50px 20px;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  margin: unset;
  transform: unset;
}

.dp-library [class*="modal-content--"].modal-content--full .close {
  position: absolute;
  right: 20px;
  top: 10px;
}

.dp-library .dp-image-gallery-content {
  height: calc(100% - 81px);
  overflow-y: auto;
  overflow-x: hidden;
}

.dp-library .dp-image-gallery-footer {
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
}

.dp-library .dp-image-gallery-footer button:last-child {
  float: right;
}

.dp-library .dp-image-gallery-list {
  list-style: none;
  margin: 0;
  padding: 2px 0 0;
}

.dp-library .dp-image-gallery-list > li {
  float: left;
  margin: 0 20px 10px 0;
  width: 150px;
}

.dp-library .dp-image-gallery-list .dp-image-gallery-thumbnail {
  background-color: #e5e5e5;
  cursor: pointer;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.dp-library .dp-image-gallery-list p {
  color: #525252;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-library .dp-image-gallery-list img {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dp-library .dp-image-gallery-list input[type="checkbox"] {
  appearance: none;
  bottom: 8px;
  top: unset;
  left: 8px;
  width: 1.4em;
  height: 1.4em;
  border-radius: 0.3em;
  background-color: #fafafa;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.dp-library .dp-image-gallery-list input[type="checkbox"]:focus {
  top: unset;
  left: 8px;
}

.dp-library .dp-image-gallery-list input[type="checkbox"]:checked::after {
  content: "\2714";
  position: absolute;
  top: 3px;
  left: 3px;
  color: #99a1a7;
}

.dp-library
  .dp-image-gallery-list
  .dp-image-gallery-thumbnail
  .dp-image-gallery--mask {
  background: 0 0;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.3s ease;
  width: 100%;
}

.dp-library
  [class*="modal-content--"].modal-content--full
  .dp-image-gallery-list
  .dp-image-gallery-thumbnail:hover
  .dp-image-gallery--mask {
  background: rgba(0, 0, 0, 0.3);
}
