/* CTA Footer */

.ed-cta-footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 18px 12px 12px 18px;
}

.ed-cta-footer > .dp-animate--saving {
  position: absolute;
  right: 10px;
  top: -120px;
}
