/* layout */

.dp-wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 70px;
}

#root-header {
  background-color: #fff;
  grid-row-start: 1;
  grid-column: 1;
  z-index: 10;
  box-shadow: 0 3px 10px 0 #ddd;
  border-bottom: 1px solid #e5e5e5;
}

#root-footer {
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  z-index: 10;
  grid-row-start: 3;
  grid-column-end: 3;
  grid-column: 1;
  padding: 18px 12px 12px 18px;
}

#root {
  background-color: #f1f1f1;
  grid-row-start: 2;
  grid-column: 1;
  overflow: hidden;
}

/* These lines are needed to override the fixed heights of Unlayer that generate unnecessary scrolling. */

#root main > div {
  min-height: calc(90vh - 80px);
}

#root main > div > div {
  min-height: 100% !important;
}
